textarea {
	margin-bottom: 30px;
}

.words-to-delete {
	margin-top: 62px;
}

.word-subtractor-button-top {
	display:inline;
}
.word-subtractor-button-bottom {
	display:none;
}

@media (max-width:991px) {
	.word-subtractor-button-top {
		display:none;
	}
	.word-subtractor-button-bottom {
		display:inline;
	}
	.words-to-delete {
		margin: 0;
	}
}