body {
	max-width: 1100px;
	margin-bottom: 30px;
}

textarea {
	margin-bottom: 30px;
}

.headless {
	margin-top: 62px;
}

.bottom {
	text-align: center;
}

.note {
	margin-top: 30px;
	padding: 10px;
	filter: opacity(20%);
}

.note:hover {
	filter: opacity(80%);
}

@media (max-width: 991px) {
	.headless {
		margin: 0;
	}
}
