body {
	max-width: 1100px;
	padding: 30px 0;
}

noscript {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8); /* Fallback */
    backdrop-filter: blur(10px);
    z-index: 9999;
    padding: 2rem;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.no-js-message {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
	font-weight: bold;
    padding: 0.3rem;
    height: 100%;
}

textarea {
	margin-bottom: 20px;
}

.headless {
	margin-top: 62px;
}

.bottom {
	text-align: center;
}

.note {
	margin-top: 30px;
	padding: 10px;
	filter: opacity(20%);
}

.note:hover {
	filter: opacity(80%);
}

@media (max-width: 991px) {
	.headless {
		margin: 0;
	}
}
